appnope==0.1.0
conekta==1.2
decorator==4.0.2
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.4
django-cors-headers==1.1.0
django-datetime-widget==0.9.3
django-filter==0.11.0
django-grappelli==2.7.1
django-push-notifications==1.4.1
django-summernote==0.8.5
django-toolbelt==0.0.1
djangorestframework==3.2.3
future==0.10.1
gnureadline==6.3.3
gunicorn==19.3.0
httplib2==0.9.1
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
nose==1.3.7
oauthlib==1.0.3
openpay==0.3
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
Pillow==2.9.0
psycopg2==2.6.1
python-gcm==0.4
python-openid==2.2.5
pytz==2015.7
requests==2.7.0
requests-oauthlib==0.5.0
simplegeneric==0.8.1
simplejson==3.8.0
six==1.9.0
South==1.0.2
static3==0.6.1
traitlets==4.0.0
