{% extends 'base_carrito.html' %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'recibos' %}">Recibos <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="{% url 'crear_recibo' %}">Reports</a></li>
              </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <br/>
          <h1 class="page-header">Crear recibo</h1>
          <div class="table-responsive">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Guardar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row text-center">
            <ul class="list-inline">
                <li>
                    <a href="{% url 'recibos' %}" class="btn btn-primary">Regresar</a>
                </li>
            </ul>
        </div>
{% endblock %}