{% extends 'base_sencilla.html' %}

{% block title %}
Pedido numero #{{pedido.id}}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-9 col-md-10 main">
        <br/>
          <h1 class="page-header">Pedido #{{ pedido.id }}, Total: {{ pedido.total }}</h1>
          <h2 class="page-subheader">Usuario: {{ pedido.user.get_full_name }}, Status: {{ pedido.show_status }}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Subtotal</th>
                  <th>Descuento</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for detalle in detalles %}
                <tr>
                  <td>{{ detalle.product.name }}</td>
                  <td>{{ detalle.quantity }}</td>
                  <td>{{ detalle.price }}</td>
                  <td>{{ detalle.subtotal }}</td>
                  <td>{{ detalle.discount }}</td>
                  <td>{{ detalle.total }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% include 'recetas_pedido.html' with pedido=pedido %}
      <div class="row text-center">
            <ul class="list-inline">
                <li>
                    <button onclick="window.print();" class="btn btn-primary">Imprimir</button>
                </li>

            </ul>
        </div>
{% endblock %}