{% extends 'base_carrito.html' %}

{% block title %} Pedido: {{ send.sale }} {% endblock %}

{% block body %}
    {% load app_filters %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="{% url 'envio_detalle' send.id %}">Detalle de envio <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <br/>

          <h1 class="page-header">Detalle de envio</h1>
          <h2>{{send.sale}}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Linea</th>
                  <th>Detalle</th>
                  <th>Completo</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for detalle in detalles %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                      {{ detalle }}
                      <table class="table table-striped">
                          <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Enviar</th>
                                <th>Fecha Caducidad</th>
                                <th>Accion</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for detalle_envio in detalle.detail_sends.all %}
                            <tr>
                                <td>{{detalle_envio.receipt.id}}</td>
                                <td class="text-left">{{detalle_envio.quantity|quantity }}</td>
                                <td>{{detalle_envio.date_expiration|date:"D d M Y" }}</td>
                                <td><a href="{% url 'delete_envio_detalle' detalle_envio.id %}">Quitar</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </td>
                  {% with detalle.complete_shipping as porcentaje %}
                  <td  {% if porcentaje == 100 %} style="color: green;" {% else %} style="color: red;" {% endif %}>
                      {{ porcentaje|avg_send }}
                  </td>
                  {% endwith %}
                  <td>
                      {% if detalle.with_shipping == False %}
                      <a href="{% url 'crear_envio_detalle' detalle.id %}" class="btn btn-success">Agregar envio</a>
                      {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="7 text-center">
                      <a href="{% url 'envios' %}" class="btn btn-primary">
                        Regresar a envios
                      </a>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

{% endblock %}
