{% load app_filters %}
<div class="pedido" id="pedido-{{pedido.id}}">
             {% if pedido.vendor.id != None %}
                <p>Usuario actualizo: {{ pedido.vendor.get_full_name }}</p>
             {% endif %}
             <h3>ORDEN: # {{pedido.id}} | Fecha: {{pedido.created | date:"d/m/Y H:ia" }} {% if pedido.scheduled_order == True %} <span class="label label-warning">Pedido Periodico</span> {% endif %}</h3>
             <h3>{{pedido.user.get_full_name}} | {{pedido.user.email}} | {{pedido.user.cell}}</h3>
             <h4>{{pedido.direction}}</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>CB</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Subtotal</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for detalle in pedido.detail_sales.all %}
                {% if detalle.product.recipe == 3 %}
                    <tr style="color: red;">
                {% else %}
                    <tr>
                {% endif %}
                  <td>{{ forloop.counter }}</td>
                  <td>{{ detalle.product.cb }}</td>
                  <td>{{ detalle.product.name }}</td>
                  <td class="text-right">{{ detalle.quantity|quantity }}</td>
                  <td class="text-right">{{ detalle.price|currency }}</td>
                  <td class="text-right">{{ detalle.subtotal|currency  }}</td>
                  <td>
                      {% if pedido.status = 0 %}
                        <span class="label label-default">Capturando</span>
                      {% elif pedido.status = 1 %}
                        <span class="label label-primary">Pedido</span>
                      {% elif pedido.status == 2 %}
                         <span class="label label-success">Enviado</span>
                      {% elif pedido.status == 3 %}
                         <span class="label label-warning">Cancelado</span>
                      {% elif pedido.status == 4 %}
                         <span class="label label-info">Entregado</span>
                      {% elif pedido.status == 5 %}
                         <span class="label label-success">Pagado</span>
                      {% endif %}
                  </td>

                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                  {% if pedido.discount > 0.0 %}
                  <tr style="font-weight: bolder;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Descuento: </td>
                      <td class="text-right">-{{pedido.discount|currency }}</td>
                      <td></td>
                  </tr>
                  {% endif %}
                  {% if pedido.discount_inapam > 0.0 %}
                  <tr style="font-weight: bolder;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Inapam -10%: </td>
                      <td class="text-right">-{{pedido.discount_inapam|currency }}</td>
                      <td></td>
                  </tr>
                  {% endif %}
                  {% if pedido.shipping > 0.0 %}
                  <tr style="font-weight: bolder;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Envio: </td>
                      <td class="text-right">{{pedido.shipping|currency }}</td>
                      <td></td>
                  </tr>
                  {% endif %}
                  {% if pedido.tax > 0.0 %}
                  <tr style="font-weight: bolder;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>IVA: </td>
                      <td class="text-right">{{pedido.tax|currency }}</td>
                      <td></td>
                  </tr>
                  {% endif %}
                  <tr style="font-weight: bolder;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Total: </td>
                      <td class="text-right">{{pedido.total|currency }}</td>
                      <td></td>
                  </tr>
                  {% if pedido.notes|length > 0 %}
                    <tr>
                        <td colspan="2">
                            Nota del cliente:
                        </td>
                        <td bgcolor="gray" style="color: white;" colspan="5">
                            {{pedido.notes}}
                        </td>
                    </tr>
                  {% endif %}
            </table>
            <div class="row text-center">
                <ul class="list-inline"  data-sale="{{pedido.id}}">
                    {% if pedido.images.all|length  > 0 %}
                    <li>
                        <a href="/backend/pedidos/{{ pedido.id }}/recetas/" target="_blank" class="btn btn-primary"
                        onclick="window.open(this.href, this.target, 'width=800,height=600'); return false;"
                        >Recetas</a>
                    </li>
                    {% endif %}
					{% if pedido.has_image_recipe_aproved %}
                    <li>
                        <a  href="/backend/pedidos/{{ pedido.id }}/" target="_blank" class="btn btn-primary"
                        onclick="window.open(this.href, this.target, 'width=800,height=600'); return false;"
                        >Visualizar</a>
                    </li>
                    {% if pedido.status == 1 %}
                        {% if pedido.with_shipping %}
                        <li>
                            <button data-url="/backend/pedidos/{{ pedido.id }}/approved/" class="button-action button-send btn btn-primary">Enviado</button>
                        </li>
                        {% endif %}
                    <li>
                        <button data-url="/backend/pedidos/{{ pedido.id }}/cancel/" class="button-action button-cancel btn btn-danger">Cancelar</button>
                    </li>
                    {% if pedido.has_recipe %}
                    <li>
                        <button data-url="/backend/pedidos/{{ pedido.id }}/reject/" class="button-action button-reject  btn btn-warning">Rechazar receta</button>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if pedido.status == 2 and pedido.charge_conekta|length == 0 %}
                    <li>
                        <button data-url="/backend/pedidos/{{ pedido.id }}/delivered/" class="button-action-delivered button-delivered  btn btn-success">Entregado</button>
                    </li>
                    {% elif  pedido.status == 2 and pedido.charge_conekta|length > 0 %}
                    <li>
                        <button data-url="/backend/pedidos/{{ pedido.id }}/review/" class="button-action button-delivered  btn btn-success">Revisar pago</button>
                    </li>
                    {% endif %}
					{% endif %}
                </ul>
            </div>
</div>