<div class="pedido" id="pedido-{{pedido.id}}">
             {% if pedido.vendor.id != None %}
                <p>Usuario actualizo: {{ pedido.vendor.get_full_name }}</p>
             {% endif %}
             <h3>ORDEN: # {{pedido.id}} | Fecha: {{pedido.created | date:"d/m/Y H:ia" }} </h3>
             <h3>{{pedido.user.get_full_name}} | {{pedido.user.email}} | {{pedido.user.cell}}</h3>
             <h4>{{pedido.direction}}</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Subtotal</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for detalle in pedido.detail_sales.all %}
                {% if detalle.product.recipe == 3 %}
                    <tr style="color: red;">
                {% else %}
                    <tr>
                {% endif %}
                  <td>{{ forloop.counter }}</td>
                  <td>{{ detalle.product.name }}</td>
                  <td>{{ detalle.quantity }}</td>
                  <td>{{ detalle.price }}</td>
                  <td>{{ detalle.subtotal }}</td>
                  <td>
                      {% if pedido.status = 0 %}
                        <span class="label label-default">Capturando</span>
                      {% elif pedido.status = 1 %}
                        <span class="label label-primary">Pedido</span>
                      {% elif pedido.status == 2 %}
                         <span class="label label-success">Enviado</span>
                      {% elif pedido.status == 3 %}
                         <span class="label label-warning">Cancelado</span>
                      {% elif pedido.status == 4 %}
                         <span class="label label-info">Entregado</span>
                      {% elif pedido.status == 5 %}
                         <span class="label label-success">Pagado</span>
                      {% endif %}
                  </td>

                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                  {% if pedido.discount > 0.0 %}
                  <tr style="font-weight: bolder;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Descuento: </td>
                      <td>-${{pedido.discount}}</td>
                      <td></td>
                  </tr>
                  {% endif %}
                  {% if pedido.tax > 0.0 %}
                  <tr style="font-weight: bolder;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>IVA: </td>
                      <td>${{pedido.tax}}</td>
                      <td></td>
                  </tr>
                  {% endif %}
                  <tr style="font-weight: bolder;">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Total: </td>
                      <td>${{pedido.total}}</td>
                      <td></td>
                  </tr>
                  {% if pedido.notes|length > 0 %}
                    <tr>
                        <td>
                            Nota del cliente:
                        </td>
                        <td bgcolor="gray" style="color: white;" colspan="5">
                            {{pedido.notes}}
                        </td>
                    </tr>
                  {% endif %}
            </table>
            <div class="row text-center">
                <ul class="list-inline"  data-sale="{{pedido.id}}">
                    {% if pedido.images.all|length  > 0 %}
                    <li>
                        <a href="/backend/pedidos/{{ pedido.id }}/recetas/" target="_blank" class="btn btn-primary"
                        onclick="window.open(this.href, this.target, 'width=800,height=600'); return false;"
                        >Recetas</a>
                    </li>
                    {% endif %}
                    <li>
                        <a  href="/backend/pedidos/{{ pedido.id }}/" target="_blank" class="btn btn-primary"
                        onclick="window.open(this.href, this.target, 'width=800,height=600'); return false;"
                        >Visualizar</a>
                    </li>
                    {% if pedido.status == 1 %}
                    <li>
                        <button data-url="/backend/pedidos/{{ pedido.id }}/approved/" class="button-action button-send btn btn-primary">Enviado</button>
                    </li>
                    <li>
                        <button data-url="/backend/pedidos/{{ pedido.id }}/cancel/" class="button-action button-cancel btn btn-danger">Cancelar</button>
                    </li>
                    <li>
                        <button data-url="/backend/pedidos/{{ pedido.id }}/reject/" class="button-action button-reject  btn btn-warning">Rechazar receta</button>
                    </li>
                    {% endif %}
                    {% if pedido.status == 2 %}
                    <li>
                        <button data-url="/backend/pedidos/{{ pedido.id }}/delivered/" class="button-action-delivered button-delivered  btn btn-success">Entregado</button>
                    </li>
                    {% endif %}
                </ul>
            </div>
</div>