{% extends 'base_carrito.html' %}

{% block body %}

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="text-center">
                {% load staticfiles %}
                <img src="{% static 'usuarios/Logo.png' %}" alt="FarmaApp logo" style="max-height: 200px;"/>
            </div>
            <ul class="nav nav-sidebar">
                <li class="{% if filter == 'todos' %} active {% endif %}"><a href="{% url 'pedidos' %}?filter=todos">Todos <span class="sr-only">(current)</span></a></li>
                <li class="{% if filter == 'enviar' %} active {% endif %}"><a href="{% url 'pedidos' %}?filter=enviar">Enviados</a></li>
                <li class="{% if filter == 'rechazado' %} active {% endif %}"><a href="{% url 'pedidos' %}?filter=rechazado">Rechazados </a></li>
                <li class="{% if filter == 'pagado' %} active {% endif %}"><a href="{% url 'pedidos' %}?filter=pagado">Pagados </a></li>
              </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <br/>
          <h1 class="page-header">Pedidos</h1>
          <div class="table-responsive">
            {% for pedido in pedidos %}
                {% include "item_pedido.html" with pedido=pedido %}
            <br/>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row text-center">
            <ul class="pagination">
                <li>
                  {% if pedidos.has_previous %}
                      <a href="?page={{ pedidos.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                  {% endif %}
                </li>
                <li>
                    <span class="current">
                        Pagina {{ pedidos.number }} de {{ pedidos.paginator.num_pages }}.
                    </span>
                </li>
                <li>
                  {% if pedidos.has_next %}
                      <a href="?page={{ pedidos.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    {% endif %}
                </li>
            </ul>
        </div>
{% endblock %}

{% block  javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
    <script type='text/javascript' src="//openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
    <script>
      (function(){
          OpenPay.setId('m8b154uw3de2m8aqln4u');
          OpenPay.setApiKey('pk_7015e8ae0f8044fd8d82c9b5de1c9f10');
          OpenPay.setSandboxMode(false);
          function activarBotonesAccion(){
            $(".button-action").on("click",function(){
                var $button = $(this);
                var url = $button.data("url");
                var pedido = $button.parent().parent().data("sale");
                console.log(url);
                $.ajax({
                  url: url,
                  type: 'get',
                  success: function(data) {
                      //alert(data);
                      console.log(data);
                      $("#pedido-"+pedido).html(data);
                      activarBotonesAccion();
                  },
                  failure: function(data) {
                      alert('Got an error dude');
                  }
              });
            });
            $(".button-action-delivered").on("click",function(){
                var $button = $(this);
                var url = $button.data("url");
                var pedido = $button.parent().parent().data("sale");
                console.log(url);
                var deviceSessionId = OpenPay.deviceData.setup();
                $.ajax({
                  url: url,
                  type: 'get',
                  data: {'device_session_id': deviceSessionId },
                  success: function(data) {
                      //alert(data);
                      console.log(data);
                      $("#pedido-"+pedido).html(data);
                      activarBotonesAccion();
                  },
                  failure: function(data) {
                      alert('Got an error dude');
                  }
              });
            });
          }
          activarBotonesAccion();
      })();
    </script>
{% endblock %}