{% extends 'base_carrito.html' %}

{% block body %}
    <div class="row">
        <div class="col-sm-9 col-md-10 main">
        <br/>
          <h1 class="page-header">Pedidos</h1>
          <div class="table-responsive">
            {% for pedido in pedidos %}
            <div class="pedido">
             <h3>ORDEN: # {{pedido.id}} | Fecha: {{pedido.created | date:"d/m/Y H:ia" }}</h3>
             <h3>{{pedido.user.get_full_name}} | {{pedido.user.email}} | {{pedido.user.cell}}</h3>
             <h3>{{pedido.direction}}</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Subtotal</th>
                  <th>Status</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                {% for detalle in pedido.detail_sales.all %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ detalle.product.name }}</td>
                  <td>{{ detalle.quantity }}</td>
                  <td>{{ detalle.price }}</td>
                  <td>{{ detalle.subtotal }}</td>
                  <td>
                      {% if pedido.status = 0 %}
                        <span class="label label-default">Capturando</span>
                      {% elif pedido.status = 1 %}
                        <span class="label label-primary">Pedido</span>
                      {% elif pedido.status == 2 %}
                         <span class="label label-success">Enviado</span>
                      {% elif pedido.status == 3 %}
                         <span class="label label-warning">Cancelado</span>
                      {% elif pedido.status == 4 %}
                         <span class="label label-info">Entregado</span>
                      {% elif pedido.status == 5 %}
                         <span class="label label-success">Pagado</span>
                      {% endif %}
                  </td>
                  <td>
                      <a class="btn btn-success" href="/pedidos/{{pedido.id}}/">
                          <i class="glyphicon glyphicon-search"></i> &nbsp; Ver
                      </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
            <br/>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row text-center">
            <ul class="pagination">
                <li>
                  {% if pedidos.has_previous %}
                      <a href="?page={{ pedidos.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                  {% endif %}
                </li>
                <li>
                    <span class="current">
                        Pagina {{ pedidos.number }} de {{ pedidos.paginator.num_pages }}.
                    </span>
                </li>
                <li>
                  {% if pedidos.has_next %}
                      <a href="?page={{ pedidos.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    {% endif %}
                </li>
            </ul>
        </div>
{% endblock %}