{% extends 'base.html' %}

{% block body %}
    <div class="row">
        <div class="col-sm-9 col-md-10 main">
        <br/>
          <h1 class="page-header">Pedidos</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Cliente</th>
                  <th>Subtotal</th>
                  <th>Descuento</th>
                  <th>Total</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for pedido in pedidos %}
                <tr>
                  <td>{{ pedido.id }}</td>
                  <td>{{ pedido.user.get_full_name }}</td>
                  <td>{{ pedido.subtotal }}</td>
                  <td>{{ pedido.discount }}</td>
                  <td>{{ pedido.total }}</td>
                  <td>
                      {% if pedido.status = 0 %}
                        <span class="label label-default">Capturando</span>
                      {% elif pedido.status = 1 %}
                        <span class="label label-primary">Pedido</span>
                      {% elif pedido.status == 2 %}
                         <span class="label label-success">Aprobado</span>
                      {% elif pedido.status == 3 %}
                         <span class="label label-warning">Rechazado</span>
                      {% elif pedido.status == 4 %}
                         <span class="label label-info">Entregado</span>
                      {% endif %}
                  </td>
                  <td>
                      <a class="btn btn-success" href="/pedidos/{{pedido.id}}/">
                          <i class="glyphicon glyphicon-search"></i> &nbsp; Ver
                      </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row text-center">
            <ul class="pagination">
                <li>
                  {% if pedidos.has_previous %}
                      <a href="?page={{ pedidos.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                  {% endif %}
                </li>
                <li>
                    <span class="current">
                        Pagina {{ pedidos.number }} de {{ pedidos.paginator.num_pages }}.
                    </span>
                </li>
                <li>
                  {% if pedidos.has_next %}
                      <a href="?page={{ pedidos.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    {% endif %}
                </li>
            </ul>
        </div>
{% endblock %}