<div class="recetas-pedido">
    <ul style="list-style: none;">
        {% for receta in pedido.images.all %}
            <li>
                <div class="row">
                    <div class="col-md-10">
                        <figure class="text-center">
                            <img src="{{receta.image_recipe.url}}"  />
                            <figcaption>
                                {% if receta.is_antibiotico == True %}
                                    Esta receta esta marcada como antibiotico
                                {% endif %}
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-2">
                        {% if receta.is_antibiotico %}
                            <button id="receta-{{receta.id}}" class="btn-antibiotico btn btn-success" data-url="{% url 'recipe_is_antibiotico' receta.id  %}">No tiene antibiotico</button>
                        {% else %}
                            <button id="receta-{{receta.id}}" class="btn-antibiotico btn btn-danger" data-url="{% url 'recipe_is_antibiotico' receta.id %}">Tiene antibiotico?</button>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

