{% extends 'base_carrito.html' %}

{% block title %} Recibos {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{% if filter == 'todos' %} active {% endif %}"><a href="{% url 'recibos' %}?filter=todos&product={{product.id}}">Recibos <span class="sr-only">(current)</span></a></li>
                <li class="{% if filter == 'por_caducar' %} active {% endif %}"><a href="{% url 'recibos' %}?filter=por_caducar&product={{product.id}}">Por caducar</a></li>
                <li class="{% if filter == 'caduco' %} active {% endif %}"><a href="{% url 'recibos' %}?filter=caduco&product={{product.id}}">Caduco</a></li>
                <li><a href="{% url 'crear_recibo' %}?filter=todos&product={{product.id}}">Crear recibo</a></li>
              </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <br/>

          <h1 class="page-header">Recibos {% if product.id > 0 %} {{product.name}} {% endif %}</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Producto</th>
                  <th>Categoria</th>
                  <th>Cantidad</th>
                  <th>Recibido</th>
                  <th>Fecha recibo</th>
                  <th>Caduca</th>
                </tr>
              </thead>
              <tbody>
                {% for recibo in receipts %}
                <tr>
                  <td>{{ recibo.id }}</td>
                  <td>{{ recibo.product.name }}</td>
                  <td>{{ recibo.product.category.name }}</td>
                  <td>{{ recibo.quantity }}</td>
                  <td>{{ recibo.user.get_full_name }}</td>
                  <td>{{ recibo.created|date:"D d M Y H:i a" }}</td>
                  <td>{{ recibo.expiration|safe }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="7">
                      <a href="{% url 'crear_recibo' %}?product={{product.id}}" class="btn btn-default">
                        Crear recibo
                      </a>
                      <a href="{% url 'inventario' %}" class="btn btn-default">
                        Regresar a productos
                      </a>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="row text-center">
            <ul class="pagination">
                <li>
                  {% if products.has_previous %}
                      <a href="?page={{ products.previous_page_number }}&filter={{filter}}&product={{product.id}}">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                  {% endif %}
                </li>
                <li>
                    <span class="current">
                        Pagina {{ products.number }} de {{ products.paginator.num_pages }}.
                    </span>
                </li>
                <li>
                  {% if products.has_next %}
                      <a href="?page={{ products.next_page_number }}&filter={{filter}}&product={{product.id}}">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    {% endif %}
                </li>
            </ul>
        </div>
{% endblock %}