{% extends 'base_carrito.html' %}

{% block title %} Recibos {% endblock %}

{% block sheetstyles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">


    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">

{% endblock %}

{% block body %}
    {% load app_filters %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="text-center">
                <img src="{% static 'usuarios/Logo.png' %}" alt="FarmaApp logo" style="max-height: 200px;"/>
            </div>
            <ul class="nav nav-sidebar">
                <li class="{% if filter == 'todos' %} active {% endif %}"><a href="{% url 'recibos' %}?filter=todos&product={{product.id}}">Recibos <span class="sr-only">(current)</span></a></li>
                <li class="{% if filter == 'por_caducar' %} active {% endif %}"><a href="{% url 'recibos' %}?filter=por_caducar&product={{product.id}}">Por caducar</a></li>
                <li class="{% if filter == 'caduco' %} active {% endif %}"><a href="{% url 'recibos' %}?filter=caduco&product={{product.id}}">Caduco</a></li>
                <li class="{% if filter == 'inactivo' %} active {% endif %}"><a href="{% url 'recibos' %}?filter=inactivo&product={{product.id}}">Inactivo</a></li>
                <li><a href="{% url 'crear_recibo' %}?filter=todos&product={{product.id}}">Crear recibo</a></li>
              </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        <br/>

          <h1 class="page-header">Recibos {% if product.id > 0 %} {{product.name}} {% endif %}</h1>
          <div class="table-responsive">
            <table class="table table-striped" id="myTable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Recibio</th>
                  <th>Fecha recibo</th>
                  <th>Caduca</th>
                  <th>Original</th>
                  <th>No. Lote</th>
                  <th>Distribuidor</th>
                  <th>Factura</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for recibo in receipts %}
                <tr>
                  <td>{{ recibo.id }}</td>
                  <td>
                      <ul>
                          <li>Producto: {{ recibo.product.name }}</li>
                          <li>Codigo barras: {{ recibo.product.cb }}</li>
                          <li>Categoria: {{ recibo.product.category.name }}</li>
                      </ul>
                  </td>
                  <td class="text-right">{{ recibo.quantity|quantity }}</td>
                  <td>{{ recibo.user.get_full_name }}</td>
                  <td width="100px;">{{ recibo.created|date:"D d M Y H:i a" }}</td>
                  <td width="100px;">{{ recibo.expiration|safe }}</td>
                  <td class="text-right">{{recibo.quantity_original|quantity }}</td>
                  <td>No. Lote: {{recibo.no_lote}}</td>
                  <td>Distribuidor: {{recibo.distribuidor}}</td>
                  <td>Factura: {{recibo.factura}}</td>
                  <td>
                      {% if recibo.type_receipt == TYPE_RECEIPT %}
                        <button class="btn-recibo-activado btn btn-danger" data-url="{% url 'recibo_inactivado' recibo.id  %}">Desactivar</button>
                      {% endif %}
                      {% if recibo.type_receipt == TYPE_INACTIVADO %}
                        <button class="btn-recibo-inactivado btn btn-success" data-url="{% url 'recibo_activado' recibo.id  %}">Activar</button>
                      {% endif %}
                  </td>
               </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="8">
                      <a href="{% url 'crear_recibo' %}?product={{product.id}}" class="btn btn-default">
                        Crear recibo
                      </a>
                      <a href="{% url 'inventario' %}" class="btn btn-default">
                        Regresar a productos
                      </a>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
{% endblock %}

{% block  javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json"
                }
            });

            $(".btn-recibo-inactivado").on('click',function(){
                //esta inactivado, es por tanto que se va a reactivar
                var $parent = $(this).parent();
                var url = $(this).data("url");
                $.ajax({
                      url: url,
                      type: 'GET',
                      success: function(data) {
                          alert(data.message);
                      },
                      failure: function(data) {
                          alert('Got an error dude');
                      }
                });
            });

            $(".btn-recibo-activado").on('click',function(){
                //esta activado, por lo tanto se puede inactivar
                var $parent = $(this).parent();
                var url = $(this).data("url");
                $.ajax({
                      url: url,
                      type: 'GET',
                      success: function(data) {
                          alert(data.message);
                      },
                      failure: function(data) {
                          alert('Got an error dude');
                      }
                });
            });

        });
    </script>

{% endblock %}