{% extends 'base_sencilla.html' %}

{% block body %}
    {% include 'recetas_pedido.html' with pedido=pedido %}
{% endblock %}

{% block  javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
      (function(){

            $(".btn-antibiotico").on("click",function(){
                var $parent = $(this).parent();
                var url = $(this).data("url");
                $.ajax({
                      url: url,
                      type: 'GET',
                      success: function(data) {
                          alert(data.message);
                      },
                      failure: function(data) {
                          alert('Got an error dude');
                      }
                });
            });

      })();
    </script>
{% endblock %}